<div>
  <mat-form-field>
    <input matInput placeholder="your name" [(ngModel)] = "usuario.name">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="create password" [(ngModel)] = "usuario.password" type="password">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="create username" [(ngModel)] = "usuario.username">
      </mat-form-field>

      <mat-card-actions>
          <button mat-raised-button (click)="addAUser()">Open</button>
      </mat-card-actions>
</div>
