<div class="addUser">
  <h1>Crear Usuario</h1>
  <mat-form-field>
    <input matInput placeholder="nombre" [(ngModel)] = "usuario.name">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput placeholder="contraseña" [(ngModel)] = "usuario.password" type="password">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="nombre de usuario" [(ngModel)] = "usuario.username">
      </mat-form-field>
      <br>
      <mat-card-actions>
          <button mat-raised-button (click)="addAUser()">Crear Usuario</button>
      </mat-card-actions>
</div>
