<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Artistas</span>
    <span class="menu-spacer"></span>
    <button mat-button (click)="menu.toggle()">
        <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu
       Icon">menu</mat-icon>
       </button>
    </mat-toolbar-row>
   </mat-toolbar>
   
<mat-sidenav-container>
    <mat-sidenav #menu mode="side" closed class="side-container">
 
   <button mat-button routerLink="/all-artists" >
    <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu
   Icon"></mat-icon>
    <span>All Artists</span>
    </button>

    <button mat-button routerLink="/add-artist" >
      <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu
     Icon"></mat-icon>
      <span>Add Artist</span>
      </button>

      <button mat-button routerLink="/add-user" >
        <mat-icon class="menu-icon" aria-hidden="false" aria-label="Menu
       Icon"></mat-icon>
        <span>Add User</span>
        </button>
</mat-sidenav>
    <mat-sidenav-content width="100%" height="100%" >
        <router-outlet></router-outlet>
    </mat-sidenav-content>
   </mat-sidenav-container>
   
